body {
  background-color: #f6f6f6;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	
	font-size: 20 px; 
	
	color: #252D33;
	
	margin-left: 20px;
}

p	{
	font-family: Arial, Helvetica, sans-serif;
	
	font-size: 10 px;
	
	color: #252D33;
	

}